[Unit]
Description=Dash
After=multi-user.target


[Service]
Type=oneshot
RemainAfterExit=true
User=pi
Group=pi
StandardInput=tty
StandardOutput=tty
StandardError=inherit
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=XDG_RUNTIME_DIR=/run/user/1000
WorkingDirectory=/home/pi/dash/
ExecStart=/home/pi/dash/run_dash.sh
Restart=on-failure
RestartSec=10s
KillMode=process
TimeoutSec=infinity
PermissionsStartOnly=true
ExecStartPre=/bin/chmod 666 /dev/tty7

[Install]
WantedBy=multi-user.target


